.App-link {
    color: #61dafb;
}

/* Page Styles */
.top-bar {
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3%;
}

.top-bar-header {
    font-family: Questrial, sans-serif;
}

.cart {
    padding-top: 1%;
}

.main-content {
    background-color: #f6f5f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    min-height: 500px;
    padding: 3%;
    border-top: 2px solid #ebebeb;
}

/* Carousel Styles */
#carousel img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.banner-image {
    max-width: 800px;
    overflow: hidden;
}

/* SideBar Styles */
#side-bar {
    padding-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33%;
}

.choose-your-mattress-header {
    font-family: 'Source Serif Pro';
    font-weight: normal;
}

.content-text-font-family {
    font-family: 'Source Serif Pro', sans-serif;
    font-weight: normal;
}

.button-group {
    width: 100%;
    margin-bottom: 5%;
}

.select-btn {
    width: 33.33%;
    background-color: #fefffe;
}

.select-btn:hover {
    background-color: #a6a19a;
}

.select-btn:focus {
    background-color: #a6a19a;
}

.review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-price {
    margin-bottom: 5%;
}

button {
    min-height: 40px;
    border: 2px solid #ebebeb;
}

.add-to-cart-button {
    background-color: #d4ab62;
}

.add-to-cart-button:hover {
    background-color: #a6a19a;
}

@media only screen and (max-width: 1100px) {
    .cart {
        padding-top: 3%;
    }

    .main-content {
        display: flex;
        flex-direction: column;
    }

    .banner-image {
        min-width: 100%;
    }

    #side-bar {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}